fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
pymysql==1.1.1
cryptography==43.0.3
pydantic[email]==2.9.2
passlib[bcrypt]==1.7.4
python-multipart==0.0.12
alembic==1.13.3
bcrypt==3.2.2
PyJWT==2.8.0
reportlab==4.2.2
requests
firebase-admin==6.5.0